/* ===== Project CSS ===== */
.btn {
  width: 45px; height: 22px;
  outline: 0;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: space-between;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  background-color: #BBB;
  opacity: .8;
}

.btn-like {
  padding: 4px 4px 4px 4px;
  font-size: 10px;
  border-radius: 4px;
  background: #fff;
}

/*-- Button Icon -- */
.btn-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
}

.liked .btn--icon-default,
.btn--icon-liked {
  opacity: 0;
  position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
  opacity: 1;
  left: 28px;
}

/*-- Button Content -- */
.btn-content {
  transition: 0.1s ease;
  display: inline-block;
}

.btn:not(.liked) .btn-content--liked {
  display: none;
}

.liked .btn-content--default {
  display: none;
}

.slider2-button {
  padding: 4px;
}