.slide2-img {
  width: 120px;
  height: 60px;
}

.text {
  font-size: 10px;
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/* ===== Project CSS ===== */
.btn {
  left: 70px;
  top: -30px;
  width: 45px; height: 22px;
  outline: 0;
  border: 1px solid #ccc;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: space-between;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
}

.btn:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  background-color: #BBB;
  opacity: .8;
}

.btn-like {
  padding: 4px 4px 4px 4px;
  font-size: 10px;
  border-radius: 4px;
  background: #fff;
}

/*-- Button Icon -- */
.btn-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
}

.liked .btn--icon-default,
.btn--icon-liked {
  opacity: 0;
  position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
  opacity: 1;
  left: 28px;
}

/*-- Button Content -- */
.btn-content {
  transition: 0.1s ease;
  display: inline-block;
}

.btn:not(.liked) .btn-content--liked {
  display: none;
}

.liked .btn-content--default {
  display: none;
}

.slider2-button {
  padding: 4px;
}

.slider2-button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin: -20px 0px 0px 10px;
  padding: 6px 6px;
  width: 80px;
  color: #000;
  transition: .3s;
  text-decoration: none;
  border: solid 1px;
}

.slider2-button a:hover {
  transition: .3s;
  opacity: .8;
}

.slider2-button a::after {
  position: absolute;
  left: 80px;
  content: '';
  width: 6px;
  height: 6px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  opacity: 0.6;
}