/* slide1 */
.swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
  height: 150px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  text-align: center;
  opacity: .5;
}

.swiper-slide:nth-child(5n + 1) {
  background-color: #BBB;
}

.swiper-slide:nth-child(5n + 2) {
  background-color: #BBB;
}

.swiper-slide:nth-child(5n + 3) {
  background-color: #BBB;
}

.swiper-slide:nth-child(5n + 4) {
  background-color: #BBB;
}

.swiper-slide:nth-child(5n + 5) {
  background-color: #BBB;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 16px;
} 

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 5px !important;
  background: #000 !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 5px !important;
  background: #FFF !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}